
{% extends 'main.html' %}
{% block title %} Events {% endblock title %}
{% block eventsactive %} active {% endblock eventsactive %}
{% block body%}
<div class="container">
    <div class="row my-2">
        {% for items in myposts %}

        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{items.event_name}}</strong>
                    <h3 class="mb-0">{{items.author}}</h3>
                    <div class="mb-1 text-muted">{{items.timestamp}}</div>
                    <p class="card-text mb-auto">{{items.content |truncatechars:100 }}</p>
                    <a href="blogpost/{{items.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src='https://source.unsplash.com/200x250/?google,code' class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </img>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row my-2">


        {% endif %} {% endfor %}
    </div>

    {% endblock %}
