
{% extends 'main.html' %}
{% block title %} Events {% endblock title %}

{% block style %}
.eventcard{
  width: 80%;
  margin: 2em;
}
.img-fill{
        object-fit: cover;


}
.date{
  width: 5em;
  background-color: red;
  text-align: center;
  position: absolute;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
      line-height: 1.5;
    border-radius: .25rem;
  border: 1px solid white;


}
.card-body{
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
.card-img{
     width: 35%;
    display: inline-block;
    min-height: 100%;
    height: 220px;
  object-fit: cover;

}


.card{
  display: block;
}
.card-text{
  display: inline-block;

}
.tickets{
  position: absolute;
  right: 0px;
  background-color: red;
  border-color: red;
  margin-right: 2em;
 bottom: 0.5em;
}
.card-body{
  padding-bottom: 0px;
}

@media only screen and (max-width: 600px) {
 .card-body{
    width: 100%;
    display: block;
    vertical-align: top;
  }
  .card-img{
   width: 100%;
      display: block;

  }
  .card-text{
    display: block;
  }
  .text-muted{
    padding-bottom: 3em;
    display: block;
  }
}
{% endblock style %}

{% block body %}
<div class="eventcard card mb-3">
  <div class="date">
    <h3>Mar<br>10</h3>
  </div>

      <img class="card-img img-fill" src="https://media-cdn.tripadvisor.com/media/photo-s/12/ad/c2/2a/3450-winton-place-venue.jpg" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">Event Name</h5>
    <p class="card-text">This is a description of the even. The text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Genre, Genre, Genre</small></p>
    <a href="#" class="tickets btn btn-primary">Know more</a>
  </div>
</div>

{% endblock body %}
